body {
    font-family: 'Roboto', sans-serif;

    line-height: 22px;
    font-weight: 300;
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    font-weight: 500;
}
header, footer {
    width: 85%;
    min-height: 20px;

    margin: 0 auto;
    padding: 10px 25px;

    text-align: center;

    color: #ffffff;
    background-color: #07173D;
}

                                /* H E A D E R */
header {
    display: flex;
    position: fixed;

    top: 0;
    right: 0;
    left: 0;

    margin: 0 auto;

}
header div {
    flex-grow: 1;
}
.header-logo {
    background: url("img/polytechLogoInverted.png") no-repeat center;
    background-size: contain;
}

                                /* M A I N */
main {
    width: 75%;
    min-height: initial;

    padding: 25px 35px;
    margin: 100px auto 60px auto;

    color: black;
    background-color: #E7EDF7;

    line-height: 50px;
}

a {
    display: inline-block;

    width: 50px;
    height: 50px;

    text-align: center;

    background-color: #cad5e8;
    border: 1px solid #000000;
    border-radius: 10px;
}

.numbers-panel {
    width: 305px;
    margin: 0 auto;
}
.numbers-panel div {
    display: flex;
    justify-content: space-between;
}
.numbers-panel .line1, .line2, .line3 {
    margin-bottom: 10px;
}
.numbers-panel .line2, .line3, .line4 {
    font-weight: 500;
    font-size: x-large;
}
.numbers-panel .result {
    background-color: #FFFFFF;
    height: 50px;
    border: 1px solid #000000;
    justify-content: center;
}
.delete {
    width: 100%;
}
                                /* F O O T E R */
footer {
    display: flex;
    position: fixed;

    right: 0;
    bottom: 0;
    left: 0;

    margin: 0 auto;

}